{
  "swagger": "2.0",
  "info": {
    "title": "TSA.Report",
    "description": "This is a project I came up with during my travels, allowing anyone to report any thought while in the TSA line.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "api.tsa.report",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/report/": {
      "get": {
        "summary": "all report",
        "description": "all report",
        "operationId": "getreport",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across report",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "report response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/report"
              }
            }
          }
        },
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add a report",
        "description": "add a report",
        "operationId": "addUrl",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "description": "content for the report",
            "required": false,
            "type": "string"
          },
          {
            "name": "Reports",
            "in": "query",
            "description": "report for the report",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "report response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/report"
              }
            }
          }
        },
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/report/{report_id}/": {
      "get": {
        "summary": "retrieve a report using its id",
        "description": "retrieve a report using its id",
        "operationId": "getreport",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "the unique id for report entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the report",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "report response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/report"
              }
            }
          }
        },
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "update report",
        "description": "update report",
        "operationId": "updatereport",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "the unique id for report",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "pull_date",
            "in": "query",
            "description": "date the report was last pulled",
            "required": false,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the report",
            "required": false,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "description": "content of the report",
            "required": false,
            "type": "string"
          },
          {
            "name": "Reports",
            "in": "query",
            "description": "report for the report",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "report response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/report"
              }
            }
          }
        },
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "delete": {
        "summary": "delete report",
        "description": "delete report",
        "operationId": "deletereport",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "the unique id for report entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the report",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "report response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/report"
              }
            }
          }
        },
        "tags": [
          "Reports"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/report/{report_id}/tags/": {
      "get": {
        "summary": "report tags",
        "description": "report tags",
        "operationId": "getreportTags",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "id for report",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the report",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "report Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add tag to report",
        "description": "add tag to report",
        "operationId": "addreportTag",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "id for the report",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "report Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/report/{report_id}/tags/{tag}": {
      "delete": {
        "summary": "delete report tag",
        "description": "delete report tag",
        "operationId": "deletereportTag",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "description": "id for the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the report",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from report",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "report Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },
  "definitions": {
    "Reports": {
      "properties": {
        "report_id": {
          "description": "unique id of the report",
          "type": "integer",
          "format": "id"
        },
        "pull_date": {
          "description": "date the report was posted",
          "type": "string"
        },
        "title": {
          "description": "ttle for the report",
          "type": "string"
        },
        "content": {
          "description": "content of the report",
          "type": "string"
        },
        "Reports": {
          "description": "report for the report",
          "type": "string"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}
